:root[style*="--USER__backgroundColor"] * div.nota-comicbook-page-container {
  background-color: var(--USER__backgroundColor) !important;
  /**
   * Override max-width and max-height from readium-css to allow the comic page to be scaled.
   */
  --RS__maxMediaWidth: auto;
  --RS__maxMediaHeight: auto;
}

div.nota-comicbook-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  &:not(.nota-comic-is-active) {
    display: none;
  }

  img {
    position: absolute;
    opacity: 0;
  }

  &.black-white-comic-mode {
    /**
     * Apply a filter to make the comic page black and white. This helps certain visual impairments to read the content more easily.
     */
    img {
      filter: grayscale(1) contrast(255) brightness(1);
      mix-blend-mode: multiply;
    }
  }
}

/**
  * Prevent scrolling of the body when a comic book page is active.
  */
body:has(div.nota-comicbook-page-container.active) {
  overflow: hidden;
}

/**
 * Fix layout of comic book pages by hiding the area elements.
 */
figure.nota-comicbook-page {
  div.area {
    display: none;
  }
}
